*.lock
.vs/*
/vorpcore_cl/obj
/vorpcore_cl/obj/**
/vorpcore_cl/bin
/vorpcore_cl/bin/**
/vorpcore_sv/bin
/vorpcore_sv/bin/**
/vorpcore_sv/obj
/vorpcore_sv/obj/**
/.vs
/.idea
*.zip
/txData/citizen
CFX-data/
fxServer/
cache/
logs/
data/
txData/default/data/playersDB.backup.json
txData/admins.json
**/server.cfg
txData/default/*.json
**/.replxx_history
/**/node_modules/
/**/dist/